.featured-items .featured-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-items .featured-header .featured-links{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.featured-header .featured-links button{
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
  background: transparent;
}
.featured-header .featured-links button:hover{
  color: var(--blue);
}
.featured-items .box-container{
  flex-wrap: wrap;
  gap: 3rem;
}
.featured-items .box-container .box{
  flex: 1 1 28rem;
}
.featured-items .box-container .box:hover{
  cursor: pointer;
}
.featured-items .box-container .box p.categories{
  font-size: 1.7rem;
  margin-top: 0.7rem;
}