section.cart{
  padding: 1rem 7% ;
  margin: 5rem 0 1rem;
}
.cart .box-container{
  gap: 6rem;
}
.cart .box-container .cart-column{
  flex: 1 1 50rem;
}
.cart .box-container .cart-column h3{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cart .box-container .cart-column.phone-image{
  flex: 1 1 25rem;
}
.cart .box-container .cart-column.phone-image img{
  width: 100%;
}

.cart .empty-cart{
  margin-bottom: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
}
.cart .empty-cart-div{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.cart .empty-cart .icon {
  font-size: 8rem;
  font-weight: 700;
  color: var(--blue);
}
.cart .empty-cart h4 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 0.7rem;
}
.cart .empty-cart p{
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}