section.cart{
  padding: 1rem 7% ;
  margin: 5rem 0 1rem;
}
.cart .box-container{
  gap: 6rem;
}
.cart .box-container .cart-column{
  flex: 1 1 50rem;
}
.cart .box-container .cart-column h3{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cart .box-container .cart-column.phone-image{
  flex: 1 1 25rem;
}
.cart .box-container .cart-column.phone-image img{
  width: 100%;
}

