section.featured{
  margin-top: 2rem;
  max-height: fit-content;
}

.carousel-box{
  margin: 3rem 0 4rem;
  border: 1px solid #ececec;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem var(--shadow);
  padding: 1.5rem;
}
.carousel-container img{
  width: 100%;
}
.carousel-container .carousel-box .box-text {
  padding: 0.5rem 0;
}
.carousel-container .carousel-box h5 {
  font-size: 1.7rem;
  margin: 0.5rem 0;
  color: #444;
}
.carousel-container .carousel-box h6 {
  color: var(--blue);
  font-size: 1.5rem;
}
.featured h2{
  font-size: 2.3rem;
  font-weight: 600;
}
.add-btn{
  display: block;
  background-color: var(--blue);
  color: var(--white);
  padding: 0.9rem 1.3rem;
  margin: 1rem 0 0.5rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  width: 13rem;
  letter-spacing: 0.2rem;
}


.swiper-pagination-bullet{
  background: #ececec;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background: var(--blue);
}
